<div id="map_container" style="width:100%; height:90vh">
  <svg id="map" style="width:100%;height:100%" ng-show="!vm.loading"></svg>
  <i class="fa fa-3x fa-pulse fa-spinner" ng-show="vm.loading"> </i>
</div>

<div id="toolbar">
  <i class="fa fa-3x fa-pause-circle"
    ng-click="vm.toggle_play()"
    ng-show="vm.play"
  ></i>
  <i class="fa fa-3x fa-play-circle"
    ng-click="vm.toggle_play()"
    ng-show="!vm.play"
  ></i>
  <div id="info">
    <a href="https://blogs.cdc.gov/nchs-data-visualization/drug-poisoning-mortality/"> Data from CDC </a>
  </div>

</div>
