
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2> Per capita death rate from drug overdose in U.S., 1999-2014 </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" ng-show="!vm.loading">
      <svg id="map" ></svg>

    </div>
    <i class="fa fa-3x fa-pulse fa-spinner" ng-show="vm.loading"> </i>
  </div>

  <div class="row">
    <div class="col-md-3">
      <i class="fa fa-3x fa-pause-circle"
        ng-click="vm.toggle_play()"
        ng-show="vm.play"
      ></i>
      <i class="fa fa-3x fa-play-circle"
        ng-click="vm.toggle_play()"
        ng-show="!vm.play"
      ></i>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <div id="info">
        <a href="https://blogs.cdc.gov/nchs-data-visualization/drug-poisoning-mortality/"> Data from CDC </a>
        <p> Click on a county to view data </p>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-show="vm.county_by_year">
      <h2> {{vm.county_by_year[0].county}} </h2>
      <table class="table">
        <tr>
          <th> Year </th>
          <th> Death Rate </th>
        </tr>
        <tr ng-repeat="row in vm.county_by_year">
          <td> {{ row.year }} </td>
          <td> {{ row.death_rate }} </td>
        </td>
      </table>
    </div>
  </div>

</div>
