body {
  background-color: black;
  color: #a5a5a5;
  font-family: 'Open Sans', sans-serif;
}

text {
  fill: #a5a5a5;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.map-title {
  font-size: 1.5em;
  fill: #a5a5a5;
}

#toolbar .fa {
  cursor: pointer;
}

#toolbar #info {
  float: right;
}

#info a {
  text-decoration: none;
  color: #a5a5a5;
}
